@import url('https://fonts.googleapis.com/css?family=Raleway');
* body{
  background-image: url("../img/weather.png");
  background-size: cover;
  font-weight: 500;
}
.header{
  font-family: "Raleway", sans-serif;
}
.weatherDetail{
  background-color: rgba(230,230,230,0.8);
  border-radius: 5px;
  padding: 45px 0px;
}
.weatherDetail .temprature{
  margin-top: 0px;
}
.weatherDetail .icon{
  min-width: 130px;
  min-height: 130px;
}
